body
{
background-color:cyan;
}
img
{
	width:40px;
	height:40px;
	
}

.roll
{
	width:80px;
	text-align:center;
	
}
.nm
{
	width:200px;	
}
.mks
{
	width:80px;	
	text-align:center;
}
.ph
{
	width:90px;	
	text-align:center;
}
